<!-- <p>home works!</p> -->

<div class="p-8 mt-10 w-3/4 mx-auto border-4 border-cyan-300 ">
    <!-- formulario de contacto -->
    <form action="">
        <div class="text-center">
            <h2 class="text-cyan-500 text-xl">Formulario de Contacto</h2>
        </div>
        <div>
            <div validar class="my-10">
                <label for="nombre">Nombre*</label>
                <input validar class="border-b-2 w-full" type="text" placeholder="" #nombre>
            </div>
            <div validar class="my-10">
                <label for="nombre">Email*</label>
                <input validar class="border-b-2 w-full" type="text" placeholder="">
            </div>
            <div validar class="my-10">
                <label for="nombre">Telefono</label>
                <input validar class="border-b-2 w-full" type="text" placeholder="">
            </div>
            <div validar class="my-10">
                <label for="nombre">Asunto*</label>
                <input validar class="border-b-2 w-full" type="text" placeholder="">
            </div>
            <div validar class="my-10">
                <label for="nombre">Mensaje*</label>
                <textarea validar class="border-b-2 w-full" type="text" placeholder=""></textarea>
            </div>
        </div>
        <div>
            <div class="text-center">
                <button class="bg-slate-200 w-24" (click)="enviar()">
                    <p>Enviar</p>
                </button>
            </div>
        </div>
    </form>
    
</div>