<!-- <p>home works!</p> -->

<div class="p-8 mt-10 w-3/4 mx-auto border-4 border-cyan-300 ">
    <form action="">
        <div class="text-center">
            <h2 class="text-cyan-500 text-xl">Formulario de Contacto</h2>
        </div>
        <div>
            <div class="my-10">
                <label for="nombre">Nombre*</label>
                <input class="border-b-4 w-full" type="text" placeholder="Nombre*">
            </div>
            <div class="my-10">
                <label for="nombre">Email*</label>
                <input class="border-b-4 w-full" type="text" placeholder="Email*">
            </div>
            <div class="my-10">
                <label for="nombre">Telefono</label>
                <input class="border-b-4 w-full" type="text" placeholder="Telefono">
            </div>
            <div class="my-10">
                <label for="nombre">Asunto*</label>
                <input class="border-b-4 w-full" type="text" placeholder="Asunto*">
            </div>
            <div class="my-10">
                <label for="nombre">Mensaje*</label>
                <textarea class="border-b-4 w-full" type="text" placeholder="Mensaje*"></textarea>
            </div>
        </div>
        <div>
            <div class="text-center">
                <button class="bg-slate-200 w-24" >
                    <p>Enviar</p>
                </button>
            </div>
        </div>
    </form>
    
</div>